doctype html
html
  head
    title Yearbook Demo
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css')

    style.
      /* hide scrollbar */

      @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

      ::-webkit-scrollbar {
        display: none;
      }

      html, body {
          margin: 0;
          height: 100%;
          background-color: #f4f4f4
      }

      #stripe {
        position: absolute;
        padding: 100% 10%;
        background-color: orange;
        z-index: 1;
      }

      #textbox {
        margin: 40% 20%;
        position: absolute;
        z-index: 2;

        font-family: 'Open Sans';

        left: -8%;
        right: -8%;
      }

  body
    div#stripe
    .box#textbox
      p
        | &nbsp&nbsp&nbsp&nbspAs we emerged from our isolated cocoons and into our old, cobwebbed hallways, our six months of solitude culminated in a moment of reunification. The uncertainty of the gathering was grim, if not exemplified by countless students getting dismissed from class left and right. Each week we questioned if we would be lucky enough to come back the next. 
        | #[br]#[br]
        | &nbsp&nbsp&nbsp&nbspNevertheless, unity persevered. The 2020-2021 school year was a testament to our resilience in transitioning from the online landscape back to the classroom. Although we spent seven hours a day wearing masks and sitting six feet apart, our learning experiences were just as good. 
        | #[br]#[br]
        | &nbsp&nbsp&nbsp&nbsp2020, collectively, was not our year, however, we became stronger because of it. We connected with friends and teachers who once felt so distant.  We learned how to support each other from afar. We bought from local businesses We FaceTimed grandparents. Friends, families and Communities—we all did our best to make the world a better place. 
        | #[br]#[br]
        | And even, just maybe, you found a new favorite takeout restaurant. 
        | #[br]#[br]
        | We persevered. We won—
        | #[br]#[br]#[br]
        | Together.
